{% extends 'components/base.html' %}

{% block content %}
<div class="content">
    <h2 style="width: 696px;">
        Заказ №{{id}}
        <span style="float:right;">
            Статус:
            {% if order.status == '2' %}
                <span style="color: orange;">В пути</span>
            {% elif order.status == '3' %}
                <span style="color: green;">Доставлено</span>
            {% elif order.status == '1' %}
                <span style="color: gray;">Ждёт отправки</span>
            {% endif %}
        </span>
    </h2>
    <div>
        <div class="orders-grid orders-grid1">
            {% for i in main %}
                <div class="grid-elem grid-elems">
                    {{i}}
                </div>
            {% endfor %}
            {% for i in items %}
                <div class="grid-elem">
                    <img class="order-image" src="{{i.item.photo.url}}">
                </div>

                <div class="grid-elem">
                    {{i.item.title}}
                </div>

                <div class="grid-elem">
                    {{i.quantity}}
                </div>

                <div class="grid-elem">
                    {{i.item.price}}₽
                </div>

                <div class="grid-elem">
                    {{i.summ}}₽
                </div>
            {% endfor %}
        </div>

        <div class="orders-grid grid-inf">
            <div style="text-align: center; padding-top: 15px;" class="grid-elem1">
                <div style="font-size: 0;">filler</div>
                <span style="font-size: 20px;">Информация</span>
            </div>

            <div class="grid-elem1 infdata">
                <div>
                    <div class="data-left">Покупатель</div> <div class="data-right">{{order.name}} {{order.surname}}</div>
                </div>
                <div>
                    <div class="data-left">Телефон</div> <div class="data-right">{{order.phone}}</div>
                </div>
                <div>
                    <div class="data-left">Адрес</div> <div class="data-right">{{order.address}}</div>
                </div>
                <div>
                    <div class="data-left">Итог</div> <div class="data-right">{{order.total}}₽</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}